Source: python-dbus-next
Section: python
Priority: optional
Maintainer: Sebastien Laclau <seb.laclau@gmail.com>
Build-Depends: python3-all, dh-python, debhelper-compat (= 13),
 python3-pytest

Package: python3-dbus-next
Architecture: any
Multi-Arch: allowed
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${python3:Recommends},
Suggests: ${python3:Suggests},
Description: Python 3 dbus interface